.App {
  text-align: center;
  margin: 10% 10%;
  padding: 0 50px;
}

/* Home page decoration */
.dark {
  background-color: black;
  color: white;
  border-radius: 10px;
}
.light {
  background-color: white;
  color: black;
}
.btn{
  background-color: blue;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 0 10px;
}
.btn:hover{
  background-color: blanchedalmond;
  color: black;
}