.App {
  text-align: center;
  margin: 0;
 font-family: sans-serif;
}

/* Base animation class (hidden before scroll) */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease-in-out;
}

/* When visible */
.animate-fade-up {
  opacity: 1;
  transform: translateY(0);
}

