.App {
  text-align: center;
  margin: 10% 10%;
  padding: 0 50px;
}

/* Home page decoration */
.dark {
  background-color: black;
  color: white;
  border-radius: 10px;
}
.light {
  background-color: white;
  color: black;
}
.btn{
  background-color: blue;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 20px 0 10px 10px;

}
.btn:hover{
  background-color: blanchedalmond;
  color: black;
}

/* Registar age decoration */
.App-r {
  text-align: center;
  background-color: rgba(180, 238, 122, 0.253);
  
}
